h1 {
font-size: 40px;
font-weight: 600;
line-height: 44px;
}
h2 {
font-size: 24px;
font-weight: 600;
line-height: 26.4px;
}
h3 {
font-size: 20px;
font-weight: 600;
line-height: 22px;

}
h4 {
font-size: 16px;
font-weight: 600;
line-height: 17.6px;
}
.text {
font-size: 16px;
font-weight: 400;
line-height: 20.8px;
}
.link {
font-size: 16px;
font-weight: 500;
line-height: 20.8px;
}
.caption {
font-size: 12px;
font-weight: 500;
line-height: 15.6px;

}