:root {
	--container-width: 1440px;
	--container-padding: 40px;

	--font-main: 'Inter', sans-serif;

	--page-bg: #0F0F17;
	--text-color: #FFFFFF;
	--text-color-hover: rgba(255, 255, 255, 0.5);

	--gradient: linear-gradient(180deg, #FB8627 0%, #F5BEF6 100%);
	
	
	--border-opacity: rgba(255, 255, 255, 0.3);

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 630px;
}
