.menu_link {
  color: #fff;
  text-decoration: none;
  display: block;
}
.dropdown-content {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  padding-top: 30px;
  top: 100%;
  gap: 60px;
  background-color: pink;

  // align-items: center;

  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
  z-index: 1;

  a {
    padding-bottom: 15px;
    display: block;
  }
  .menu_column {
    a:hover {
      color: var(--text-color-hover);
    }
  }
}

.dropdown:hover .dropdown-content, .dropdown-content:hover {
  display: flex;
  opacity: 1;
}

.arrow_icon {
  transition: transform 1s ease;
}

.menu_link:hover .arrow_icon {
  transform: rotate(90deg);
}
