.menu_link {
  color: #fff;
  text-decoration: none;
  display: block;
}
.dropdown-content {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 100%;
  background-color: var(--page-bg);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 1;
  gap: 60px;

  padding-left: 450px;
  padding-bottom: 45px;

  .menu_column {
    a {
      padding-bottom: 15px;
    }

    a:hover {
      color: var(--text-color-hover);
    }
  }
}

@include laptop {
  .dropdown-content {
    padding-left: 0;
    justify-content: center;
  }
}
.arrow_icon {
  transition: transform 1s ease;
}

.menu_link:hover .arrow_icon {
  transform: rotate(90deg);
}
