.head_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}
.nav_logo {
  flex-shrink: 0;
}
.nav_list {
  display: flex;
  gap: 10px;

  li {
    padding: 10px;    
  }

  .nav_link:hover {
    color: var(--text-color-hover);
  }
}
a {
  color: var(--text-color);
}

.nav_btn a {
  padding: 12px 20px;
  border-radius: 40px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #fb8627 0%, #f5bef6 100%) 1;
}
