.head_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  flex-shrink: 0;
}
.nav_list {
  display: flex;
  gap: 10px;

  li {
    padding: 10px;
  }

  .nav_link:hover {
    color: var(--text-color-hover);
  }
}
a {
  color: var(--text-color);
}

.btn_white {
  position: relative;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 40px;
  background-color: var(--page-bg);
  color: var(--text-color);
  text-decoration: none;
}
.nav_btn:hover {
  .btn_white {
    background-color: transparent;
  }
}

.btn_white::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 40px;
  background: linear-gradient(180deg, #fb8627 0%, #f5bef6 100%);
}
